// esquema de colores 

//primer esquema de colores 
$white: #fff;
$platinum: #EBEBEB;
$gray: #BABABA;


//segundo esquema de colores 
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-ink: #FADFDA;

//tercer esquema de colores 
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

//cuarto esquema de colores 
$onyx: #333745;
$spanish-gray: #8F9199;
$lavander-gray: #C7C8CC;

//quinto esquema de colores 
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

//tipografía
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//tamaño de fuentes 
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//peso de fuente
$regular: 400;
$bold: 700;
