body {
  margin: 0%;
}

section {
  margin-left: auto;
  margin-right: auto;
}
section .prices {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Raleway", sans-serif;
  color: #black;
}

.buttons-login {
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 6rem;
}

/* Columns */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (max-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 375px) {
  .container {
    width: 3360px;
  }

  .options__menu, .buttons-login {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .options__burger {
    display: none;
  }

  .options {
    margin: auto;
    display: none;
  }

  .options__logo-menu {
    margin-left: 8%;
  }

  .options__menu {
    padding-top: 2.5%;
    margin-left: 0%;
  }

  .a-option {
    width: 120px;
    margin-right: 5%;
    text-decoration: none;
    color: black;
  }

  .a-price {
    margin-right: 0%;
  }

  .options__menu, .options__logo-menu {
    display: flex;
    justify-content: flex-start;
  }

  .buttons-login {
    display: flex;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .options__burger {
    display: none;
  }

  .options {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }

  .options__logo-menu {
    margin-left: 8%;
  }

  .options__menu {
    padding-top: 2.5%;
    margin-left: 0%;
  }

  .a-option {
    width: 120px;
    margin-right: 5%;
    text-decoration: none;
    color: black;
  }

  .a-price {
    margin-right: 0%;
  }

  .options__menu, .options__logo-menu {
    display: flex;
    justify-content: flex-start;
  }

  .buttons-login {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .options__burger {
    display: none;
  }

  .options {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }

  .options__logo-menu {
    margin-left: 0%;
  }

  .options__menu {
    text-align: center;
    padding-top: 2.5%;
    margin-left: 10%;
  }

  .a-option {
    width: 120px;
    margin-right: 5%;
    text-decoration: none;
    color: black;
  }

  .a-price {
    margin-right: 0%;
  }

  .options__menu, .options__logo-menu {
    display: flex;
    justify-content: flex-start;
  }

  .buttons-login {
    display: flex;
  }
}
footer {
  height: 10%;
  background-color: #221D23;
}

@media (min-width: 375px) {
  .container {
    width: 360px;
  }

  .graphics {
    widows: 20%;
    margin-top: 1%;
    padding-left: 20%;
    animation: graphics 5s normal;
    animation-fill-mode: forwards;
  }

  @keyframes graphics {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .graphics {
    widows: 20%;
    margin-top: 1%;
    padding-left: 20%;
    animation: graphics 5s normal;
    animation-fill-mode: forwards;
  }

  @keyframes graphics {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .graphics {
    widows: 20%;
    margin-top: 1%;
    padding-left: 20%;
    animation: graphics 5s normal;
    animation-fill-mode: forwards;
  }

  @keyframes graphics {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .prices {
    margin-top: 0%;
    background-image: url("../image/bg-price.svg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
  }

  .prices-content {
    margin-top: 15%;
    justify-content: center;
  }

  .offer-prices {
    background-color: #fff;
    width: 50%;
    padding: 27px;
    line-height: 1.6;
  }

  .characters {
    margin-top: 20%;
  }

  .characters__content {
    margin-top: 30%;
  }

  .character__title {
    text-align: center;
    font-size: 20px;
  }

  .price__card1 {
    display: flex;
    justify-content: center;
  }

  .price__title {
    margin: auto;
    font-size: 20px;
  }

  .price-month {
    font-size: 30px;
  }

  .price__card-text {
    margin: auto;
  }

  .graphics {
    widows: 20%;
    margin-top: 1%;
    padding-left: 20%;
    animation: graphics 5s normal;
    animation-fill-mode: forwards;
  }

  @keyframes graphics {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }
}
@media (min-width: 375px) {
  .container {
    width: 360px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .description {
    margin: auto;
  }

  .description__text {
    height: 100%;
  }

  .description__tittle {
    width: 40%;
    font-size: 30px;
    font-weight: 700;
  }

  .paragraph {
    width: 38%;
    line-height: 1.6;
  }
}
.explorador {
  background-image: url("../image/bg-hero.svg");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: absolute;
  width: 100vw;
  height: 800px;
  z-index: -30;
  transform: scale(0.8) translate(10px, -100px);
}

.buttons-login {
  width: 100%;
  margin-right: 30px;
}

.btn {
  border: none;
  margin-top: 2%;
  width: 30%;
  height: 35px;
  margin-left: 3%;
  background-color: #fff;
}

.btn-secondary {
  background-color: #2AB7CA;
  color: white;
  font-weight: 700;
}

.btn-price {
  width: 70%;
  background-color: #2AB7CA;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
